body {
  margin: 0;
  padding: 0;
  width: 100%;
  height: 100%;
  line-height: 1;
  color: #444444;
  font-weight: 400;
  background: #ffffff;
  font-family: 'Barlow', sans-serif;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  color: #202C45;
}

a {
  color: #202C45;
  transition: .3s;
  text-decoration: none;
  line-height: 1.5;
}

a:hover,
a:active,
a:focus {
  color: #E81C2E;
  outline: none;
  text-decoration: none;
}

ul {
  margin: 0;
  padding: 0;
}

ul li {
  list-style: none;
}

p {
  margin: 0 0 1rem;
  padding: 0;
  line-height: 1.5;
}

*, *::before, *::after {
  box-sizing: border-box;
}

.clr {
  clear: both;
}

.wrapper {
  max-width: 1140px;
  padding: 0 15px;
  margin: 0 auto;
}

.wrapper .row {
  margin: 0 -15px;
}

.flex {
  display: flex;
}

.flex-alc {
  align-items: center;
}

.col-3 {
  width: 25%;
  float: left;
  position: relative;
}

.col-4 {
  width: 33.333%;
  float: left;
  position: relative;
}

.col-8 {
  width: 66.667%;
  float: left;
  position: relative;
}

.col-6 {
  float: left;
  width: 50%;
  position: relative;
}

.col-7 {
  float: left;
  width: 58.333%;
  position: relative;
}

.col-5 {
  float: left;
  width: 41.667%;
  position: relative;
}

.box_col {
  padding: 0 15px;
}

.sticky {
  position: fixed !important;
  width: 100%;
  top: 0;
  left: 0;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.3);
  z-index: 999;
}

.sticky .navbar {
  padding: 5px 0 !important;
}

.section {
  padding: 45px 0 15px;
  position: relative;
  width: 100%;
}

.box_header {
  position: relative;
  width: 100%;
  max-width: 700px;
  margin: 0 auto 45px auto;
}

.box_header p {
  display: inline-block;
  margin-bottom: 10px;
  padding-bottom: 5px;
  position: relative;
  font-size: 16px;
  font-weight: 700;
  letter-spacing: 4px;
  text-transform: uppercase;
  color: #E81C2E;
}

.box_header p::after {
  position: absolute;
  content: "";
  width: 50%;
  height: 2px;
  left: 20%;
  bottom: 0;
  background: #E81C2E;
}

.box_header h2 {
  margin: 0;
  font-size: 45px;
  font-weight: 700;
  text-transform: capitalize;
}

.text_left {
  text-align: left !important;
}

.text_left p::after {
  left: 0;
}

.text_center {
  text-align: center !important;
}

a.button {
  display: inline-block;
  padding: 10px 30px 12px 30px;
  text-align: center;
  font-size: 16px;
  font-weight: 500;
  color: #ffffff;
  background: #E81C2E;
  border: none;
  border-radius: 60px;
  box-shadow: inset 0 0 0 0 #202c45;
  transition: ease-out 0.5s;
  -webkit-transition: ease-out 0.5s;
}

a.button:hover {
  color: #E81C2E;
  background: #202C45;
  box-shadow: inset 200px 0 0 0 #202c45;
}

.back-top {
  position: fixed;
  display: none;
  width: 44px;
  height: 44px;
  text-align: center;
  line-height: 38px;
  font-size: 22px;
  right: 15px;
  bottom: 15px;
  transition: .5s;
  background: #E81C2E;
  border-radius: 44px;
  z-index: 9;
  color: #ffffff;
}

.back-top:hover {
  color: #ffffff;
  background: #202C45;
}

.header .top_bar {
  position: relative;
  height: 75px;
  background: #ffffff;
}

.header .top_bar .logo {
  text-align: left;
  overflow: hidden;
}

.header .top_bar .logo a h1 {
  margin: -4px 0 0 0;
  color: #E81C2E;
  font-size: 50px;
  line-height: 50px;
  font-weight: 800;
  letter-spacing: 1px;
  font-style: italic;
}

.header .top_bar .logo a h1 span {
  color: #202C45;
  margin-left: -15px;
}

.header .top_bar .top_info .top_item .box_col {
  justify-content: flex-end;
  cursor: pointer;
}

.header .top_bar .top_info .top_item .box_col .box_icon {
  width: 40px;
  height: 40px;
  display: flex;
  align-items: center;
  justify-content: center;
  background: #202C45;
  border-radius: 40px;
}

.header .top_bar .top_info .top_item .box_col .box_icon i {
  margin: 0;
  color: #ffffff;
  font-size: 20px;
}

.header .top_bar .top_info .top_item .box_col .box_text {
  padding-left: 15px;
}

.header .top_bar .top_info .top_item .box_col .box_text h3 {
  margin: 0 0 5px 0;
  font-size: 18px;
  font-weight: 600;
}

.header .top_bar .top_info .top_item .box_col .box_text p {
  font-size: 14px;
  font-weight: 400;
}

.header .nav-bar {
  position: relative;
  background: #202C45;
}

.header .nav-bar .navbar {
  padding: 20px 0;
  background: #202C45 !important;
  transition: .3s;
}

.header .nav-bar .navbar ul > li.menu_item {
  display: inline-block;
  position: relative;
  cursor: pointer;
}

.header .nav-bar .navbar ul > li.menu_item .menu_link {
  color: #ffffff;
  padding: 15px;
  font-weight: 500;
  letter-spacing: 1px;
  display: inline-block;
}

.header .nav-bar .navbar ul > li.menu_item:hover .menu_link, .header .nav-bar .navbar ul > li.menu_item.active .menu_link {
  color: #E81C2E;
}

.header .nav-bar .navbar ul > li.menu_item span.menu_link::after {
  content: '\f0d7';
  font-family: FontAwesome;
  margin-left: .255em;
}

.header .nav-bar .navbar ul > li.menu_item:hover .sub_menu {
  display: block;
}

.header .nav-bar .navbar ul > li.menu_item .sub_menu {
  position: absolute;
  top: 85%;
  background-color: #ffffff;
  left: 0;
  margin-top: 0;
  border: 0;
  border-radius: 0;
  background: #f8f9fa;
  min-width: 10rem;
  padding: .5rem 0;
  margin: .125rem 0 0;
  font-size: 1rem;
  color: #212529;
  text-align: left;
  display: none;
}

.header .nav-bar .navbar ul > li.menu_item .sub_menu li a {
  display: inline-block;
  width: 100%;
  padding: .25rem 1.5rem;
  clear: both;
  font-weight: 400;
  color: #212529;
  text-align: inherit;
  white-space: nowrap;
  background-color: transparent;
  border: 0;
  line-height: 1.5;
}

.header .nav-bar .navbar ul > li.menu_item .sub_menu li a:hover {
  color: #E81C2E;
  transition: .3s;
}

.header .nav-bar .navbar a.button {
  margin-left: auto;
  display: inline-block;
  color: #202C45;
  background: #ffffff;
  box-shadow: inset 0 0 0 0 #E81C2E;
  padding: 10px 30px 12px 30px;
  text-align: center;
  font-size: 16px;
  font-weight: 500;
  border-radius: 60px;
  transition: .3s;
  line-height: 1.5;
}

.header .nav-bar .navbar a.button:hover {
  color: #ffffff;
  background: #E81C2E;
  box-shadow: inset 200px 0 0 0 #E81C2E;
}

.main .page_header {
  position: relative;
  margin-bottom: 45px;
  padding: 90px 0;
  text-align: center;
  background: #202C45;
  border-top: 1px dotted #ffffff;
}

.main .page_header h2 {
  position: relative;
  color: #ffffff;
  font-size: 60px;
  font-weight: 700;
  margin-bottom: 20px;
  padding-bottom: 5px;
  line-height: 1.5;
}

.main .page_header h2::after {
  position: absolute;
  content: "";
  width: 100px;
  height: 2px;
  left: calc(50% - 50px);
  bottom: 0;
  background: #ffffff;
}

.main .page_header a {
  position: relative;
  padding: 0 12px;
  font-size: 22px;
  color: #ffffff;
}

.main .page_header a:hover {
  color: #E81C2E;
}

.main .page_header a:nth-child(1)::after {
  position: absolute;
  content: "/";
  width: 8px;
  height: 8px;
  top: -2px;
  right: -7px;
  text-align: center;
  color: #ffffff;
}

.main .carousel {
  position: relative;
  width: 100%;
  min-height: 400px;
  background: #ffffff;
  margin-bottom: 45px;
}

.main .carousel .carousel-item {
  position: relative;
  width: 100%;
  min-height: 400px;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  text-align: center;
  z-index: 1;
}

.main .carousel .carousel-item .carousel-img {
  position: relative;
  width: 100%;
  height: 100%;
  min-height: 400px;
  text-align: right;
  overflow: hidden;
}

.main .carousel .carousel-item .carousel-img::after {
  position: absolute;
  content: "";
  inset: 0;
  background: rgba(0, 0, 0, 0.5);
  z-index: 1;
}

.main .carousel .carousel-item .carousel-img img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.main .carousel .carousel-item .carousel-text {
  position: absolute;
  max-width: 992px;
  padding: 0 15px;
  text-align: center;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  z-index: 2;
}

.main .carousel .carousel-item .carousel-text h3 {
  color: #E81C2E;
  font-size: 20px;
  font-weight: 700;
  letter-spacing: 4px;
  text-transform: uppercase;
  margin-bottom: 0px;
}

.main .carousel .carousel-item .carousel-text h1 {
  color: #ffffff;
  font-size: 90px;
  font-weight: 700;
  margin-bottom: 20px;
  text-transform: capitalize;
}

.main .carousel .carousel-item .carousel-text p {
  max-width: 500px;
  color: #ffffff;
  font-size: 18px;
  margin-bottom: 40px;
  line-height: 1.5;
}

.main .carousel .carousel-item .carousel-text a.button {
  padding: 20px 45px 22px 45px;
  color: #ffffff;
  display: inline-block;
  text-align: center;
  font-size: 16px;
  font-weight: 500;
  background: #E81C2E;
  border: none;
  border-radius: 60px;
  box-shadow: inset 0 0 0 0 #202C45;
  transition: ease-out 0.5s;
}

.main .carousel .carousel-item .carousel-text a.button:hover {
  color: #E81C2E;
  background: #202C45;
  box-shadow: inset 200px 0 0 0 #202C45;
}

.main .carousel .owl-nav {
  position: absolute;
  width: 100%;
  height: 50px;
  top: calc(50% - 25px);
  left: 0;
  display: flex;
  justify-content: space-between;
  z-index: 9;
}

.main .carousel .owl-nav .owl-next, .main .carousel .owl-nav .owl-prev {
  width: 50px;
  height: 50px;
  display: flex;
  align-items: center;
  justify-content: center;
  color: #ffffff;
  border-radius: 50px;
  background: rgba(255, 255, 255, 0.2);
  transition: .5s;
}

.main .carousel .owl-nav .owl-next i, .main .carousel .owl-nav .owl-prev i {
  font-weight: 900;
  font-size: 25px;
}

.main .carousel .owl-nav .owl-next:hover, .main .carousel .owl-nav .owl-prev:hover {
  color: #ffffff;
  background: #E81C2E;
}

.main .carousel .owl-nav .owl-prev {
  margin-left: 30px;
}

.main .carousel .owl-nav .owl-next {
  margin-right: 30px;
}

.main .about .box_col .about_img img {
  width: 100%;
  border-radius: 5px;
  margin-bottom: 30px;
}

.main .about .box_col .box_header {
  margin-bottom: 30px;
}

.main .about .box_col .about_content {
  margin-bottom: 30px;
}

.main .about .box_col .about_content ul {
  margin-bottom: 25px;
}

.main .about .box_col .about_content ul li {
  margin-bottom: 5px;
  line-height: 1.5;
  font-size: 1rem;
}

.main .about .box_col .about_content ul li i {
  margin-right: 8px;
  color: #E81C2E;
  font-size: 20px;
}

.main .services .services_icon [class^="flaticon-"]::before {
  margin: 0;
  font-size: 60px;
  line-height: 60px;
  background-image: linear-gradient(#E81C2E, #202C45);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  transition: .5s;
}

.main .services .services_icon i {
  color: #202C45;
  font-size: 75px;
  line-height: 75px;
  margin-bottom: 20px;
}

.main .services .services_text {
  margin-bottom: 45px;
}

.main .services .services_text h3 {
  margin-bottom: 10px;
  font-size: 20px;
  font-weight: 700;
  letter-spacing: 1px;
}

.main .fact {
  position: relative;
  width: 100%;
  min-height: 400px;
  margin: 45px 0;
  display: flex;
  align-items: center;
  background: #202C45;
}

.main .fact .wrapper {
  width: 1140px;
}

.main .fact .box_col {
  flex-direction: row;
  margin: 25px 0;
}

.main .fact .box_col i {
  margin-top: 15px;
  font-size: 45px;
  color: #E81C2E;
}

.main .fact .box_col .fact_text {
  padding-left: 20px;
}

.main .fact .box_col .fact_text h3 {
  position: relative;
  display: inline-block;
  color: #ffffff;
  font-size: 60px;
  font-weight: 700;
  margin: 0 0 .5rem;
  line-height: 1.2;
}

.main .fact .box_col .fact_text h3::after {
  position: absolute;
  content: "\f067";
  top: 0px;
  right: -25px;
  color: #ffffff;
  font-size: 25px;
  font-family: FontAwesome;
  font-weight: 900;
}

.main .fact .box_col .fact_text p {
  color: #ffffff;
  font-size: 18px;
  font-weight: 500;
}

.main .price .col-4 .box_col .price_item {
  position: relative;
  margin-bottom: 30px;
  background: #ffffff;
  border-radius: 5px;
}

.main .price .col-4 .box_col .price_item .price_header {
  padding: 45px 0 30px 0;
}

.main .price .col-4 .box_col .price_item .price_header h3 {
  font-size: 20px;
  font-weight: 700;
  letter-spacing: 2px;
  text-transform: uppercase;
  margin: 0 0 .5rem;
  line-height: 1.2;
}

.main .price .col-4 .box_col .price_item .price_header h2 {
  display: flex;
  align-items: flex-start;
  justify-content: center;
  font-size: 60px;
  font-weight: 700;
  letter-spacing: 5px;
  line-height: 1.2;
  margin: 0 0 .5rem;
}

.main .price .col-4 .box_col .price_item .price_header h2 span {
  font-size: 25px;
  line-height: 55px;
}

.main .price .col-4 .box_col .price_body {
  padding: 0 0 20px;
}

.main .price .col-4 .box_col .price_body li {
  padding-bottom: 15px;
  line-height: 1.5;
  font-size: 1rem;
}

.main .price .col-4 .box_col .price_body li i {
  margin-right: 10px;
}

.main .price .col-4 .box_col .price_body li i.fa-check-circle-o {
  color: #39B972;
}

.main .price .col-4 .box_col .price_body li i.fa-times-circle-o {
  color: #cccccc;
}

.main .price .col-4 .box_col a.button {
  color: #E81C2E;
  background: #202C45;
  box-shadow: inset 0 0 0 0 #e81c2e;
  margin-bottom: 45px;
}

.main .price .col-4 .box_col a.button:hover {
  color: #ffffff;
  background: #E81C2E;
  box-shadow: inset 200px 0 0 0 #e81c2e;
}

.main .price .col-4 .box_col.active {
  box-shadow: 0 0 30px rgba(0, 0, 0, 0.2);
  z-index: 1;
}

.main .price .col-4 .box_col.active .price_item .price_header h3, .main .price .col-4 .box_col.active .price_item .price_header h2 {
  color: #E81C2E;
}

.main .price .col-4 .box_col.active .price_item a.button {
  color: #ffffff;
  background: #E81C2E;
  box-shadow: inset 0 0 0 0 #202c45;
}

.main .price .col-4 .box_col.active .price_item a.button:hover {
  color: #E81C2E;
  background: #202C45;
  box-shadow: inset 200px 0 0 0 #202c45;
}

.main .location .col-6 .box_col {
  margin-bottom: 30px;
}

.main .location .col-6 .box_col i {
  padding-top: 3px;
  font-size: 30px;
  color: #E81C2E;
}

.main .location .col-6 .box_col .location_text {
  padding-left: 15px;
}

.main .location .col-6 .box_col .location_text h3 {
  margin: 0 0 .5rem;
  font-size: 18px;
  font-weight: 700;
  line-height: 1.2;
}

.main .location .col-6 .box_col .location_text p {
  margin-bottom: 5px;
}

.main .location .location_form {
  padding: 45px 30px;
  background: #E81C2E;
  border-radius: 5px;
}

.main .location .location_form h3 {
  color: #ffffff;
  font-size: 25px;
  font-weight: 700;
  margin-bottom: 25px;
  margin-top: 0;
}

.main .location .location_form form input, .main .location .location_form form textarea, .main .location .location_form form button {
  width: 100%;
}

.main .location .location_form form input {
  margin-bottom: 15px;
  height: 45px;
  color: #ffffff;
  padding: 0 15px;
  border-radius: 5px;
  border: 1px solid #ffffff;
  background: transparent;
  font-size: 1rem;
  font-weight: 400;
  line-height: 1.5;
}

.main .location .location_form form input:focus {
  outline: none;
}

.main .location .location_form form input::placeholder {
  color: #ffffff;
}

.main .location .location_form form textarea {
  margin-bottom: 15px;
  height: 120px;
  padding: 15px;
  color: #ffffff;
  border-radius: 5px;
  border: 1px solid #ffffff;
  background: transparent;
  font-size: 1rem;
  font-weight: 400;
  line-height: 1.5;
  font-family: 'Barlow', sans-serif;
}

.main .location .location_form form textarea:focus {
  outline: none;
}

.main .location .location_form form textarea::placeholder {
  color: #ffffff;
}

.main .location .location_form form button {
  cursor: pointer;
  color: #E81C2E;
  background: #ffffff;
  box-shadow: inset 0 0 0 0 #202c45;
  padding: 10px 30px 12px 30px;
  text-align: center;
  font-size: 16px;
  font-weight: 500;
  border: none;
  border-radius: 60px;
  line-height: 1.5;
  transition: ease-out .5s;
}

.main .location .location_form form button:hover {
  color: #ffffff;
  background: #E81C2E;
  box-shadow: inset 400px 0 0 0 #202c45;
}

.main .team .team_item {
  position: relative;
  margin-bottom: 30px;
}

.main .team .team_item:hover {
  cursor: pointer;
}

.main .team .team_item:hover .team_text {
  background: #E81C2E;
}

.main .team .team_item:hover .team_text .team_social a {
  background: #E81C2E;
}

.main .team .team_item:hover .team_img img {
  transform: scale(1.1);
}

.main .team .team_item .team_img {
  position: relative;
  border-radius: 5px 5px 0 0;
  overflow: hidden;
}

.main .team .team_item .team_img img {
  width: 100%;
  transition: .3s;
}

.main .team .team_item .team_text {
  position: relative;
  width: 100%;
  padding: 35px 30px 30px 30px;
  text-align: center;
  background: #202C45;
  border-radius: 0 0 5px 5px;
  transition: .5s;
  margin-top: -3px;
}

.main .team .team_item .team_text h2 {
  color: #ffffff;
  font-size: 20px;
  font-weight: 600;
  letter-spacing: 1px;
  margin-bottom: 10px;
  margin-top: 0;
  line-height: 1.2;
}

.main .team .team_item .team_text p {
  color: #ffffff;
}

.main .team .team_item .team_text .team_social {
  position: absolute;
  width: 100%;
  height: 40px;
  top: -20px;
  left: 0;
  text-align: center;
  font-size: 0;
}

.main .team .team_item .team_text .team_social a {
  display: inline-block;
  width: 40px;
  height: 40px;
  margin: 0 3px;
  padding: 7px 0;
  text-align: center;
  font-size: 16px;
  color: #ffffff;
  background: #202C45;
  border-radius: 40px;
  transition: .5s;
}

.main .team .team_item .team_text .team_social a:hover {
  color: #202C45;
}

.main .testimonial .testimonials-carousel {
  position: relative;
}

.main .testimonial .testimonials-carousel .testimonial-item {
  position: relative;
  width: 100%;
  padding: 0 15px;
  display: flex;
}

.main .testimonial .testimonials-carousel .testimonial-item img {
  width: 80px;
  height: 80px;
  border-radius: 80px;
  transform: scale(0.8);
  transition: 2s;
}

.main .testimonial .testimonials-carousel .testimonial-item .testimonial-text {
  width: calc(100% - 100px);
  padding-left: 20px;
}

.main .testimonial .testimonials-carousel .testimonial-item .testimonial-text h3 {
  font-size: 18px;
  font-weight: 700;
  letter-spacing: 1px;
  margin-bottom: 5px;
  margin-top: 0;
}

.main .testimonial .testimonials-carousel .testimonial-item .testimonial-text h4 {
  color: #777777;
  font-size: 15px;
  font-weight: 400;
  font-style: italic;
  margin-bottom: 10px;
  margin-top: 0;
}

.main .testimonial .testimonials-carousel .testimonial-item .testimonial-text p {
  line-height: 1.5;
}

.main .testimonial .testimonials-carousel .testimonial-item .testimonial-text p::before {
  content: "\f10d";
  font-size: 25px;
  font-family: FontAwesome;
  font-weight: 900;
  color: #E81C2E;
  margin-right: 10px;
}

.main .testimonial .testimonials-carousel .owl-dots {
  margin-top: 15px;
  text-align: center;
}

.main .testimonial .testimonials-carousel .owl-dots .owl-dot {
  display: inline-block;
  margin: 0 5px;
  width: 12px;
  height: 12px;
  border-radius: 10px;
  background: #dddddd;
}

.main .testimonial .testimonials-carousel .owl-dots .owl-dot.active {
  background: #E81C2E;
}

.main .blog .blog_item {
  margin-bottom: 45px;
}

.main .blog .blog_item:hover .blog_img .meta_date {
  bottom: calc(50% - 35px);
  opacity: 1;
}

.main .blog .blog_item .blog_img {
  position: relative;
  width: 100%;
}

.main .blog .blog_item .blog_img img {
  width: 100%;
  border-radius: 5px;
}

.main .blog .blog_item .blog_img .meta_date {
  position: absolute;
  width: 70px;
  height: 70px;
  bottom: 10%;
  left: calc(50% - 35px);
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  border-radius: 70px;
  background: #202C45;
  color: #ffffff;
  opacity: 0;
  transition: .5s;
}

.main .blog .blog_item .blog_img .meta_date span {
  font-size: 14px;
  font-weight: 400;
  letter-spacing: 1px;
}

.main .blog .blog_item .blog_img .meta_date strong {
  font-size: 16px;
  font-weight: 700;
  line-height: 16px;
  letter-spacing: 3px;
  text-transform: uppercase;
}

.main .blog .blog_item .blog_text {
  padding: 25px 0 20px 0;
}

.main .blog .blog_item .blog_text h3 {
  font-size: 22px;
  font-weight: 700;
  line-height: 1.2;
  margin: 0 0 .5rem;
}

.main .blog .blog_item .blog_text p {
  line-height: 1.5;
}

.main .blog .blog_item .blog_meta p {
  margin: 0;
  font-size: 14px;
  line-height: 14px;
  padding: 0 10px;
  border-right: 1px solid rgba(0, 0, 0, 0.15);
}

.main .blog .blog_item .blog_meta p:last-child {
  border-right: none;
}

.main .blog .blog_item .blog_meta p:first-child {
  padding-left: 0;
}

.main .blog .blog_item .blog_meta p i {
  color: #999999;
  margin-right: 5px;
}

.footer {
  position: relative;
  margin-top: 45px;
  padding-top: 90px;
  background: #202C45;
}

.footer h2 {
  margin-bottom: 30px;
  font-size: 20px;
  font-weight: 700;
  letter-spacing: 2px;
  color: #E81C2E;
  text-transform: capitalize;
}

.footer .footer_contact {
  position: relative;
  margin-bottom: 45px;
  color: #ffffff;
}

.footer .footer_contact p {
  margin-bottom: 1rem;
}

.footer .footer_contact p i {
  width: 25px;
}

.footer .footer_contact .footer_social {
  position: relative;
  margin-top: 20px;
}

.footer .footer_contact .footer_social a {
  width: 40px;
  height: 40px;
  display: flex;
  align-items: center;
  justify-content: center;
  color: #202C45;
  background: #ffffff;
  border-radius: 40px;
  margin-right: 5px;
  transition: .5s;
}

.footer .footer_contact .footer_social a:hover {
  color: #ffffff;
  background: #E81C2E;
}

.footer .footer_link {
  position: relative;
  margin-bottom: 45px;
  color: #ffffff;
}

.footer .footer_link a {
  display: block;
  margin-bottom: 10px;
  color: #ffffff;
  transition: .3s;
}

.footer .footer_link a::before {
  position: relative;
  content: "\f105";
  font-family: FontAwesome;
  font-weight: 900;
  margin-right: 10px;
}

.footer .footer_link a:hover {
  color: #E81C2E;
  letter-spacing: 1px;
}

.footer .footer_newsletter {
  position: relative;
  margin-bottom: 45px;
  color: #ffffff;
}

.footer .footer_newsletter form {
  position: relative;
  width: 100%;
}

.footer .footer_newsletter form input {
  margin-bottom: 15px;
  width: 100%;
  height: 45px;
  background: transparent;
  border: 1px solid #ffffff;
  border-radius: 5px;
  padding: .375rem .75rem;
  font-size: 1rem;
  font-weight: 400;
  line-height: 1.5;
  color: #495057;
}

.footer .footer_newsletter form input:focus {
  outline: none;
}

.footer .footer_newsletter form button {
  width: 100%;
  color: #202C45;
  background: #ffffff;
  box-shadow: inset 0 0 0 0 #e81c2e;
  padding: 10px 30px 12px 30px;
  text-align: center;
  font-size: 16px;
  font-weight: 500;
  border: none;
  border-radius: 60px;
  transition: ease-out .5s;
}

.footer .footer_newsletter form button:hover {
  color: #ffffff;
  background: #E81C2E;
  box-shadow: inset 200px 0 0 0 #e81c2e;
}

.footer .copyright {
  padding-top: 15px;
  padding-bottom: 45px;
  color: #ffffff;
}
